node_modules
midisf/**/*pcm
mp3/*mp3
mp3/FatBoy_bassoon.js
mp3/FatBoy_clarinet.js
mp3/FatBoy_flute.js
mp3/FatBoy_french_horn.js
mp3/FatBoy_oboe.js
mp3/FatBoy_pizzicato_strings.js
mp3/FatBoy_string_ensemble_1.js
mp3/FatBoy_timpani.js
mp3/*
dist/*js*
dist/**/*
dist/index.js.map
db/*
dist/*
*.cache.pcm
midi/*
midisf/done/*
billie-eilish-bad-guy-midi-by-carlo-prato-www-cprato-com-mid.csv
all_hell_billie.csv
another-day-in-paradise-1-mid.csv
Avril Lavigne - I'm With You (Video)-dGR65RWwzg8.opus
bach_846-mid.csv
bach_847-mid.csv
bach_850-mid.csv
backstreet-boys-as-long-as-you-love-me-mid.csv
backstreet-boys-i-want-it-that-way-mid.csv
beethoven_symphony_5_1_(c)galimberti.csv
Beethoven-Symphony5-1.csv
bohemian-rhapsody-1-mid.csv
chp_op18-mid.csv
chpn_op7_1-mid.csv
chpn_op7_2-mid.csv
chpn_op10_e01-mid.csv
chpn_op10_e05-mid.csv
chpn_op10_e12-mid.csv
chpn_op23-mid.csv
Britney Spears - Sometimes (1).csv
