node_modules
midisf/**/*pcm
mp3

dist/*js*
dist/**/*
dist/index.js.map
db/*
dist/*
*.cache.pcm
midi/*
midisf/done/*
billie-eilish-bad-guy-midi-by-carlo-prato-www-cprato-com-mid.csv
all_hell_billie.csv
another-day-in-paradise-1-mid.csv
Avril Lavigne - I'm With You (Video)-dGR65RWwzg8.opus


midisf/**/*.mp3
Beethoven-Moonlight-Sonata.csv
SlenderSalamander48khz24bit
*csv
csv/*
js/build
**/*opus
SFPiano
junk/dist/readmidi.js
junk/dist/tls.js
junk/sf.html
junk/tsf.h
junk/tsf.h.gch
junk/dist/readmidi.js
junk/dist/tls.js
junk/src/midrouter.ts
junk/src/readmidi.ts
v2/info/preset_0_0.json
v2/info/preset_0_1.json
v2/info/preset_0_2.json
v2/info/preset_0_3.json
v2/info/preset_0_4.json
v2/info/preset_0_5.json
v2/info/preset_0_6.json
v2/info/preset_0_7.json
v2/info/preset_0_8.json
v2/info/preset_0_9.json
v2/info/preset_0_10.json
v2/info/preset_0_11.json
v2/info/preset_0_12.json
v2/info/preset_0_13.json
v2/info/preset_0_14.json
v2/info/preset_0_15.json
v2/info/preset_0_16.json
v2/info/preset_0_17.json
v2/info/preset_0_18.json
v2/info/preset_0_19.json
v2/info/preset_0_20.json
v2/info/preset_0_21.json
v2/info/preset_0_22.json
v2/info/preset_0_23.json
v2/info/preset_0_24.json
v2/info/preset_0_25.json
v2/info/preset_0_26.json
v2/info/preset_0_27.json
v2/info/preset_0_28.json
v2/info/preset_0_29.json
v2/info/preset_0_30.json
v2/info/preset_0_31.json
v2/info/preset_0_32.json
v2/info/preset_0_33.json
v2/info/preset_0_34.json
v2/info/preset_0_35.json
v2/info/preset_0_36.json
v2/info/preset_0_37.json
v2/info/preset_0_38.json
v2/info/preset_0_39.json
v2/info/preset_0_40.json
v2/info/preset_0_41.json
v2/info/preset_0_42.json
v2/info/preset_0_43.json
v2/info/preset_0_44.json
v2/info/preset_0_45.json
v2/info/preset_0_46.json
v2/info/preset_0_47.json
v2/info/preset_0_48.json
v2/info/preset_0_49.json
v2/info/preset_0_50.json
v2/info/preset_0_51.json
v2/info/preset_0_52.json
v2/info/preset_0_53.json
v2/info/preset_0_54.json
v2/info/preset_0_55.json
v2/info/preset_0_56.json
v2/info/preset_0_57.json
v2/info/preset_0_58.json
v2/info/preset_0_59.json
v2/info/preset_0_60.json
v2/info/preset_0_61.json
v2/info/preset_0_62.json
v2/info/preset_0_63.json
v2/info/preset_0_64.json
v2/info/preset_0_65.json
v2/info/preset_0_66.json
v2/info/preset_0_67.json
v2/info/preset_0_68.json
v2/info/preset_0_69.json
v2/info/preset_0_70.json
v2/info/preset_0_71.json
v2/info/preset_0_72.json
v2/info/preset_0_73.json
v2/info/preset_0_74.json
v2/info/preset_0_75.json
v2/info/preset_0_76.json
v2/info/preset_0_77.json
v2/info/preset_0_78.json
v2/info/preset_0_79.json
v2/info/preset_0_80.json
v2/info/preset_0_81.json
v2/info/preset_0_82.json
v2/info/preset_0_83.json
v2/info/preset_0_84.json
v2/info/preset_0_85.json
v2/info/preset_0_86.json
v2/info/preset_0_87.json
v2/info/preset_0_88.json
v2/info/preset_0_89.json
v2/info/preset_0_90.json
v2/info/preset_0_91.json
v2/info/preset_0_92.json
v2/info/preset_0_93.json
v2/info/preset_0_94.json
v2/info/preset_0_95.json
v2/info/preset_0_96.json
v2/info/preset_0_97.json
v2/info/preset_0_98.json
v2/info/preset_0_99.json
v2/info/preset_0_100.json
v2/info/preset_0_101.json
v2/info/preset_0_102.json
v2/info/preset_0_103.json
v2/info/preset_0_104.json
v2/info/preset_0_105.json
v2/info/preset_0_106.json
v2/info/preset_0_107.json
v2/info/preset_0_108.json
v2/info/preset_0_109.json
v2/info/preset_0_110.json
v2/info/preset_0_111.json
v2/info/preset_0_112.json
v2/info/preset_0_113.json
v2/info/preset_0_114.json
v2/info/preset_0_115.json
v2/info/preset_0_116.json
v2/info/preset_0_117.json
v2/info/preset_0_118.json
v2/info/preset_0_119.json
v2/info/preset_0_120.json
v2/info/preset_0_121.json
v2/info/preset_0_122.json
v2/info/preset_0_123.json
v2/info/preset_0_124.json
v2/info/preset_0_125.json
v2/info/preset_0_126.json
v2/info/preset_0_127.json
v2/info/preset_0_255.json
v2/dist/bundle.js
v2/dist/ffp.js
v2/dist/ffp.js.map
v2/dist/index.js
v2/dist/index.js.map
v2/dist/index.test.ts
v2/dist/load-midi.js
v2/dist/load-midi.js.map
v2/dist/main.js
v2/dist/main.js.map
v2/dist/pdta.js
v2/dist/pdta.js.map
v2/dist/reader.js
v2/dist/reader.js.map
v2/dist/reader.test.js
v2/dist/reader.test.js.map
v2/dist/readmidi.js
v2/dist/readmidi.js.map
v2/dist/run.js
v2/dist/run.js.map
v2/dist/run.test.js
v2/dist/run.test.js.map
v2/dist/s16tof32.js
v2/dist/s16tof32.js.map
v2/dist/sf.types.js
v2/dist/sf.types.js.map
v2/dist/sffile.js
v2/dist/sffile.js.map
v2/dist/sffile.test.js
v2/dist/sffile.test.js.map
v2/dist/tsconfig.tsbuildinfo
v2/dist/web/sf2-fetch.js
v2/dist/web/sf2-fetch.js.map
v2/a.out
v2/a.out.wasm
v2/a.out.js
v2/ffplay
v2/file.pcm
v2/file1.txt
v2/file.json
v2/filter.out.js
v2/gg
v2/gg.sf2
v2/go.js
v2/go.wasm
