node_modules
midisf/**/*pcm
mp3/*mp3

mp3/FatBoy_bassoon.js
mp3/FatBoy_clarinet.js
mp3/FatBoy_flute.js
mp3/FatBoy_french_horn.js
mp3/FatBoy_oboe.js
mp3/FatBoy_pizzicato_strings.js
mp3/FatBoy_string_ensemble_1.js
mp3/FatBoy_timpani.js
mp3/FatBoy_trumpet.js
dist/*js*
dist/**/*
dist/index.js.map
db/*
dist/*
*.cache.pcm
