body {
  background-color: black;
  color: white;
  text-align: center;
}
.canvas_container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -13;
}
#stats {
  text-align: right;
}
