body {
  background-color: black;
  color: white;
}
#root {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#stdout {
  max-height: 200px;
  overflow: hidden;
}
ul {
}

.canvas_container {
  position: fixed;
  left: 10vw;
  bottom: 0;
  width: 80vw;
  height: 400px;
}
canvas {
  width: 100%;
  height: 100%;
  z-index: -33;
}
progress {
  text-align: center;
}
progress:after {
  content: attr(value) "(kb)";
  color: black;
  transform: translate(90px, 0);
}
